/* .cssmagic
{
     position: absolute;
} */
.example-card {
    position: absolute;
    left: 45%;
    top: 35%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }