<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="toggleTheme();appMenu.close()"> Dark theme </button>
    <button mat-menu-item> Help </button>
    <button mat-menu-item (click)="changeStatus();appMenu.close()"> change status </button>
    <button mat-menu-item (click)="logout();appMenu.close()"> Logout </button>
  </mat-menu>
  
  
  <mat-sidenav-container class="example-container" >
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.open()" ><mat-icon>menu</mat-icon></button>
      <span>Manage</span>  
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
    </mat-toolbar>
  
    <mat-sidenav #sidenav class="example-sidenav">
      <mat-list class="list-nav">
          <mat-divider style="padding-top: 30%"></mat-divider>
          <mat-list-item class="list-item" *ngFor="let source of options" (click)="navPress(source);sidenav.close();">
            <mat-icon>settings</mat-icon>
            <span class="source-name"> {{source}}</span>
          </mat-list-item>
      </mat-list>
    </mat-sidenav>
      <p class="title" [style.color]="statuscolor"> service is {{ statustr }} </p>
      <app-settings *ngIf="content==0"></app-settings>
      <app-servers *ngIf="content==1"></app-servers>
  
  </mat-sidenav-container>