<!-- class all on this div -->
<div id="wrapper">
  <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="toggleTheme()"> Switch theme </button>
      <button mat-menu-item (click)="help()"> Help </button>
      <!-- <button mat-menu-item (click)="changeStatus()"> Change status </button> -->
      <button mat-menu-item (click)="logout()"> Logout </button>
    </mat-menu>
    
    
   <mat-sidenav-container class="example-container" >
      <mat-toolbar color="primary">
        <!-- <button mat-button (click)="sidenav.open()" ><mat-icon>menu</mat-icon></button> -->
        <!-- <img src="../../assets/images/alertpng.png" class="logo"> -->
        <img [src]=pic class="logo">
        <span>Alerting Service</span>  
        <span class="example-spacer"></span>
        <p> buggy alpha</p>
        <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
      </mat-toolbar>

      <mat-tab-group id="tab-group">
          <mat-tab label="Home" class="tab">
            <app-home></app-home>
          </mat-tab>
          <mat-tab label="Settings" [disabled]="disabled">
            <app-settings></app-settings>
          </mat-tab>
          <mat-tab label="Servers">
            <app-servers></app-servers>
          </mat-tab>
          <!-- <mat-tab label="Testing area">
            <app-testingarea></app-testingarea>
          </mat-tab> -->
      </mat-tab-group>

      <mat-sidenav #sidenav class="example-sidenav">
        <mat-list class="list-nav">
            <img src="../../assets/images/alertpng.png" class="avatar">
            <mat-divider style="padding-top: 10%"></mat-divider>
            <mat-list-item class="list-item" *ngFor="let source of options" (click)="navPress(source[0]);sidenav.close();">
              <mat-icon>{{source[1]}}</mat-icon>
              <span class="source-name"> {{source[0]}}</span>
            </mat-list-item>
        </mat-list>
      </mat-sidenav>
        <!-- <p class="title" color="primary"> service is {{ statustr }} </p> -->
        <!-- <app-settings *ngIf="content==0"></app-settings>
        <app-servers *ngIf="content==1"></app-servers>
        <app-testingarea *ngIf="content==2"></app-testingarea> -->
    </mat-sidenav-container>
</div>