<div id="wrapper">
  <!-- <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="toggleTheme()"> Switch theme </button>
      <button mat-menu-item (click)="help()"> Help </button>
      <button mat-menu-item (click)="logout()"> Logout </button>
  </mat-menu> -->
    
   <mat-sidenav-container class="container" >
      <!-- <mat-toolbar color="primary">
        <img [src]=pic class="logo">
        <span>Alerting Service</span>  
        <span class="spacer"></span>
        <p> buggy alpha</p>
        <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
      </mat-toolbar> -->
      <app-toolbar></app-toolbar>

      <mat-tab-group id="tab-group" (selectedTabChange)="tabChanged($event)">
          <mat-tab label="Home" class="tab">
            <app-home></app-home>
          </mat-tab>
          <mat-tab label="Settings" [disabled]="isdisabled">
            <app-settings></app-settings>
          </mat-tab>
          <mat-tab label="Servers">
            <app-servers></app-servers>
          </mat-tab>
          <!-- <mat-tab label="Testing area">
            <app-testingarea></app-testingarea>
          </mat-tab> -->
      </mat-tab-group>
    </mat-sidenav-container>
</div>

<!-- <mat-tab *ngFor="let tab of tabs" [label]="tab[0]" class="tab" [disabled]="tab[0]=='settings' && isdisabled">
  <app-home></app-home>
</mat-tab> -->