<h1 mat-dialog-title class="middle">Change mail recievers</h1>
<div mat-dialog-content class="middle">
  Include ' , ' between mails to make a list
  <!-- <ul>
    <li>
      <span *ngIf="data.newmails === 'da'">&#10003;</span> banana
    </li>
    <li>
      <span *ngIf="data.newmails === '324'">&#10003;</span> da
    </li>
    <li>
      <span *ngIf="data.newmails === 'da'">&#10003;</span> harta
    </li>
  </ul> -->
  <mat-form-field>
        <input matInput [(ngModel)]="data.mails">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">nvm</button> -->
    <button mat-button mat-dialog-close>nvm</button>
    <span class="example-spacer"></span>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>