
table {
    width: 100%;
  }

tbody
{
    display: block;
    height: 300px;
    overflow: auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

  .centered {
    position: relative;
    width: 80%;
    left: 10%;
  }

.filters {
    padding: 0;
}


.title
{
    position: relative;
    font-size: 2em;
    text-align: center;
}

.columntitle
{
    font-size: 1em;
}

hovering
{

}
.hovering:hover
{
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
}

.mailtd
{
    width: 60%;
    max-width: 20em;
    white-space: normal;
    word-break: break-all;
}

.grouptd
{
    width: 9%;
    max-width: 20em;
    white-space: normal;
    text-align: left;
}

.middle
{
    text-align: center; 
}
.example-spacer {
    flex: 1 1 auto;
  }

.mid
{
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.refreshbtn:hover
{
    color: lightblue;
}


.text-danger
{
    color:red;
    font-weight: bold;
}

.text-correct
{
    color:green;
    font-weight: bold;
}



