<p>
  testingarea works!
</p>

<!-- <button (click)="changeState()">Change Size</button>
<div [@EnterLeave]=currentState>da</div> -->


<!-- <h3>Enter and Leave animation</h3>
<button (click)="addItem()">Add List</button>
<button (click)="removeItem()">Remove List</button>
<div style="width:200px; margin-left: 20px">
  <ul>
    <li *ngFor="let list of listItem" [@EnterLeave]="'flyIn'">
      {{list}}
    </li>
  </ul>
</div> -->

<!-- <div [@EnterLeave]="test">
  dadada
</div> -->

<!-- <table [@EnterLeave]="'flyIn'">
<tr>
  <td>hey</td>
</tr>
</table> -->
<button (click)="changeState()">Change Size</button>
<br>
<br>
<br>
<!-- [@slideInOut] -->
<div class="mat-elevation-z8 centered da" *ngIf="visible" >
meme
</div>

<!-- <mat-progress-spinner
class="example-margin"
[color]="color"
[mode]="mode"
[value]="value">
</mat-progress-spinner> -->

<mat-spinner class="mid" color="warn"></mat-spinner>

<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
</cdk-virtual-scroll-viewport>