.middle
{
    text-align: center; 
    /* background-color: lightblue; */
}
.example-spacer {
    flex: 1 0 auto;
  }

.bot
{
    position: relative;
    margin-bottom: 0;
    top: 1em;
    padding: 0;
    margin: 0;
    bottom: 0;
    /* background-color: red; */
}

textarea
{
    /* overflow-y: hidden; */
    /* overflow-y: scroll; */
}
/* ::-webkit-scrollbar { 
    display: none; 
} */
.field
{
    height: 100%;
    width: 100%;
}