.all
{
    /* position: absolute; */
    overflow-y: hidden;
    height: auto;
}
.title
{
    position: relative;
    /* color: darkgreen; */
    font-size: 3em;
    text-align: center;
}

.subtitle
{
    position: relative;
    /* color: darkgreen; */
    font-size: 1.5em;
    text-align: center;
    /* text-overflow: ellipsis; */
    /* max-width: 20%; */
}

.text-danger
{
    color:red;
    font-weight: bold;
}

.middle
{
    text-align: center;
}