<p class="title"> Welcome </p>

<p class="subtitle">Alerting service will show you all the needed servers and their metrics, configure who will recieve mails on critical metrics and configure many other variables of the service.</p>
<p class="subtitle">This is early buggy alpha, its probably usable but expect alot of bugs.</p>
<!-- <mat-divider></mat-divider> -->
<br>
<p class="subtitle"> The service is running for {{hours}} hours and {{minutes}} minutes.</p>
<p class="subtitle"> {{mails}} mails were sent.</p>
<p class="text-danger middle" *ngIf="errormsg">{{errormsg}}</p>
