.title
{
    position: relative;
    /* color: darkgreen; */
    font-size: 2em;
    text-align: center;
}

.subtitle
{
    position: relative;
    /* color: darkgreen; */
    font-size: 1em;
    text-align: center;
}

.text-danger
{
    color:red;
    font-weight: bold;
}

.middle
{
    text-align: center;
}