

<p class="title"  *ngIf="animation" [@slideInOut]> Settings list: </p>
<div class="mat-elevation-z8 centered" *ngIf="animation" [@slideInOut]>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Setting </th>
        <td mat-cell *matCellDef="let setting"> {{setting.name}} </td>
    </ng-container>
      
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let setting" class="valuetd" (click)="openDialog(setting.name,setting.value,i)"> {{setting.value}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index; let setting"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
</div>
<p class="text-danger middle" *ngIf="errormsg">{{errormsg}}</p>