.all
{
    height: 100%;
    width: 100%;
    margin: 0;
}

table {
    /* position: relative; */
    width: 100%;
    /* left: 10%; */
  }

  .centered {
    position: relative;
    width: 80%;
    left: 10%;
  }

.title
{
    position: relative;
    /* color: darkgreen; */
    font-size: 2em;
    text-align: center;
}

.valuetd
{
    width: 80%;
    max-width: 20em;
    white-space: normal;
    word-break: break-all;
}

.valuetd:hover
{
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
}

.middle
{
    text-align: center; 
}

.mid
{
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.refreshbtn:hover
{
    color: lightblue;
}
.text-danger
{
    color:red;
    font-weight: bold;
}